@charset 'utf-8';

@import 'settings';
@import 'foundation';
// @import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;




body {
    background: #ddd;
}

.container {
	background: #fefefe;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
  max-width: 1500px;
  margin: 0 auto;
}

.full-width {
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    .row {
    	margin: 0 auto;
    	max-width: $grid-row-width;
    }
}


li {
  font-size: 40px;
  font-weight: bold;
  padding: 20px 40px;
  background: #eee;
  &:first-child .position {
   background: url(img/medal-gold.png) center center no-repeat;
    display: block;
    width: 100px;
    height: 63px;
    text-align: center;
    color: #FEB900;
    transform: translateX(-35px);
    background-size: 44px;
    line-height: 43px;
  }
  &:nth-child(2) .position {
   background: url(img/medal-silver.png) center center no-repeat;
    display: block;
    width: 100px;
    height: 63px;
    text-align: center;
    color: #aaa;
    transform: translateX(-35px);
    background-size: 44px;
    line-height: 43px;
  }

  &:nth-child(3) .position {
   background: url(img/medal-bronze.png) center center no-repeat;
    display: block;
    width: 100px;
    height: 63px;
    text-align: center;
    color: #DB7D2A;
    transform: translateX(-35px);
    background-size: 44px;
    line-height: 43px;
  }
  &:nth-child(2n) {
    background-color: #fff;
  }
}

input[type=text],
input[type=number] {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #aaa;
  font-size: 30px;
  height: 100px;
  line-height: 100px;
  padding-left: 20px;
  &:focus {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #000;
  }
}
