{% extends "_layout" %} 
{% set title = entry.title %}
{% block content %}
{% include 'partials/header' %}

{% if not entry.hideVisual %}
    <div class="hero-unit">
        <div class="intro-image focuspoint" >
            <div class="row intro-text-row">
                <div class="medium-7 large-7 columns end intro-text">
                    <span class="pre-headline">{% if entry.parent|length %}{{ entry.parent.title }}{% else %}{{ entry.title }}{% endif %}</span>
                    <h2 class="headline light">{% if entry.parent|length %}{{ entry.title }}{% else %}Alternativer Titel{% endif %}</h2>
                    <p class="teaser-text light">{{ entry.teaser }}</p>
                </div>
            </div>
            {% include 'partials/visual' %}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="medium-8 large-8 columns default-content">
        
        <h2 class="headline">{{ include(template_from_string(entry.heading)|raw) }}</h2>
        {{ include(template_from_string(entry.body)|raw) }}


    </div>
    <div class="medium-4 large-4 columns no-padding">

        {% include 'partials/default-nav' %}

    </div>
</div>


{% endblock %}
