{% set menu = craft.entries.section('menu').level('<=2').excludeFromNav('not 1') %}

<div class="header-wrapper">
        <div class="row header full-width">
            <div class="row">
                <div class="medium-3 large-3 columns">
                    <h1 class="hide">{{ siteName }}</h1>
                    <a href="/"><img src="http://placehold.it/300x150/CCCCCC/FFFFFF" alt="bussimulator" class="logo" /></a>
                </div>
                <div class="medium-9 large-9 columns">
                    <nav class="main-nav hide-for-small">

                        {% include 'partials/nav' %}

                    </nav>
                </div>
            </div>
        </div>
    </div>
