<ul class="clearfix">
    {% nav entry in menu %}
    
    <li{% if entry.slug == craft.request.getSegment(entry.level) %} class="active"{% endif %}>

        
        <a href="{{ entry.url }}" {% if entry.hasDescendants() %}class="has-children" {% endif %}>{{ entry.title }}</a>
        

        {% ifchildren %}
        <ul>
            {% children %}
        </ul>
        {% endifchildren %}
    </li>
    
    {% endnav %}
</ul>