<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />
    {% if craft.request.serverName != 'bussimulator.de' %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% hook 'seomaticRender' %}

    <link rel="stylesheet" href="/public/css/app.css" />
</head>

<body class="{% if (entry is defined) %}level-{{ entry.level }} entry-{{ entry.id }}{% endif %} {% if (bodyclass is defined) %} {{ bodyclass }} {% endif %}">


      <div class="container">

    {% block content %}
    <p>If you see me, you haven’t set your
        <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code>yet.</p>
    <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
    {% endblock %}


        </div> <!-- container -->




    <script src="/public/js/axios.min.js"></script>
    <script src="/public/js/vue.js"></script>
    <script src="/public/js/app.js"></script>

</body>

</html>
