{% extends "_layout" %}
{% set bodyclass = 'player' %}
{% block content %}


<div class="new-player">
        
        <div class="row">
              <div class="small-12 medium-12 large-12 columns">
                <h1>Neuen Spieler anlegen</h1>
              </div>
        </div>
        

        <form method="post" accept-charset="UTF-8">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="entries/saveEntry">
            <input type="hidden" name="redirect" value="/eingabe">
            <input type="hidden" name="sectionId" value="3">
            <input type="hidden" name="enabled" value="1">

            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <input type="text" name="fields[spielername]" placeholder="Name des Spielers">
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <input type="number" name="fields[score]" placeholder="Punktzahl">
                </div>
            </div>

            <div class="row">
              <div class="small-12 medium-12 large-12 columns text-right popup-actions">
                    <input type="submit" class="button" value="Eintragen">
              </div>
            </div>
        </form>

    </div>

{% endblock %}