{% extends "_layout" %}
{% set bodyclass = 'home' %}
{% block content %}


<img src="{{ url('public/img/highscore.jpg') }}" alt="Highscore">

<div id="app">
    
    <ol class="no-bullet">
        <li v-for="(player,index) in players">
            <div class="row">
                <div class="small-2 columns">
                    <span class="position">${ index + 1 }</span>
                </div>
                <div class="small-8 columns">
                    ${ player.name }
                </div>
                <div class="small-2 columns text-right">
                    ${ player.score }
                </div>
            </div>
        </li>
    </ol>

</div>


{% endblock %}
