{% extends "_layout" %}
{% set bodyclass = 'login' %}
{% block content %}

{% include 'partials/header' %}

<div class="login-container">

    <div class="row">
      <div class="small-12 columns">
        <form method="post" accept-charset="UTF-8">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="users/login">

            <p>Bitte melden Sie sich an.</p>

            <label for="loginName">E-Mail-Adresse</label>
            <input id="loginName" type="text" name="loginName"
                value="{{ craft.session.rememberedUsername }}">

            <label for="password">Passwort</label>
            <input id="password" type="password" name="password">

            <label>
                <input type="checkbox" name="rememberMe" value="1"> &nbsp; angemeldet bleiben
            </label>

            <input type="submit" value="Anmelden" class="button right login-btn">

            {% if errorMessage is defined %}
                <p>{{ errorMessage }}</p>
            {% endif %}
        </form>

        <p><a href="{{ url('forgotpassword') }}">Passwort vergessen?</a></p>      
      </div>
    </div>
</div>

{% endblock %}